/**
 * Snake Game
 */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #398eb5;
}

.container {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

.container .title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 30pt;
	font-family: arial;
	color: #ffffff;
}